iframe {
  border: 5px solid #000000;
}
img {
  width: 50%;
  height: auto;
}
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
iframe {text-align: center;}
your-centered-div {

    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}