.center {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
    height: auto;
}
img {
    filter: brightness(85%);
    border: 6px solid rgb(180, 151, 114);
    border-radius: 25px;
}
footer {
    text-align: center;
    font-weight: bold;
}
table, tr, td {
    border: 5px solid black
}
tr, td {
    padding: 3px;
    font-weight: bold;
}
table {
    background-color: rgb(180, 151, 114);
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
}
th {
    background-color: rgb(255, 255, 255);
}
.container {
    position: relative;
}


.navbar {
    z-index: 2;
    overflow: hidden;
    background-color: rgb(180, 151, 114);
    position: fixed; 
    top: 0; 
    width: 100%;
    
  }
  .navbar a {;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  

  .main {
    margin-top: 30px; 
  }
  .column {
    float: left;
    width: 25%;
    height: 45%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    font-size: large;
    font-weight: bold;
    color: white;
  }
  .Hoover {
    text-align: center;
    font-weight: bold;
  }
  .Hoover:hover {
    color: grey;
  }
  .text {
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .container:hover .center {
    opacity: 0.3;
  }
  .container:hover .middle {
    opacity: 1;
  }
  .middle {
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overlayText {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
  }
  
  #topText {
    color: white;
    font-size: 20px;
    align-self: center;
  }